body {
    text-align: center;
    transition: background-color 0.5s ease;
}

.canvas {
    margin-top: 50px;
}

.button {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    border: 2px solid #333;
}

#gray { background-color: gray; }
#white { background-color: white; border: 2px solid #000; }
#red { background-color: red; }
#orange { background-color: orange; }